.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 30px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.tableContainer {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
}

.table {
    width: 100%;
    border-collapse: collapse;
    color: black;
}

.table th,
.table td {
    padding: 12px 8px;
    border: 1px solid #ccc;
    text-align: left;
}

.table th {
    background-color: #79972B;
    color: #fff;
    font-weight: bold;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:nth-child(odd) {
    background-color: #ffffff;
}

.tableRow:hover {
    background-color: #82a724;
}

.clickableHeader {
    cursor: pointer;
    user-select: none;
}

.clickableHeader:hover {
    background-color: #82a724;
}

.table input[type="checkbox"] {
    transform: scale(1.2);
    cursor: pointer;
}

.paginationContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilos para as classes de entrega e retirada */
.entrega {
    background-color: #d4edda; /* Fundo verde claro */
    color: #155724; /* Texto verde escuro */
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
}

.retirada {
    background-color: #f8d7da; /* Fundo vermelho claro */
    color: #721c24; /* Texto vermelho escuro */
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
}

.printerIcon {
    cursor: pointer;
    color: #79972B;
    font-size: 24px;
}

.printerIcon:hover {
    color: #82a724;
}
