/* CartPage.module.css */
.cartContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.cartContent {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.cartItems {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.cartItem {
    display: flex;
    gap: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.cartItemImage {
    width: 150px;
    height: auto;
    border-radius: 8px;
}

.cartItemDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.trashIcon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    color: #888;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.trashIcon:hover {
    transform: scale(1.2);
}

.quantityTotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.quantityControl {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantityButton {
    font-size: 24px;
    cursor: pointer;
    color: #79972B;
}

.totalPrice {
    font-weight: bold;
    font-size: 16px;
}
