.cartContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.cartContent {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.cartItems {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.cartItem {
    display: flex;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.cartItemImage {
    width: 135px;
    height: 135px;
    object-fit: cover;
    border-radius: 8px;
}

.cartItemDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.itemHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trashIcon {
    font-size: 20px;
    color: #888;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.trashIcon:hover {
    transform: scale(1.2);
}

.quantityTotal {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.quantityControl {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.quantityButtons {
    display: flex;
    gap: 10px;
}

.quantityButton {
    font-size: 24px;
    cursor: pointer;
    color: #79972B;
}

.totalPrice {
    font-weight: bold;
    font-size: 16px;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 20px;
    color: #666;
}

.loadingIcon {
    font-size: 24px;
    margin-right: 10px;
}

.cartItemImage {
    width: 135px; 
    height: 135px;
    object-fit: cover; 
}
