/* components/CheckoutSummary.module.css */
.summary {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    margin-left: 20px;
    width: 300px;
}

.summary h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.summary div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.separator {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 15px 0;
}

.deliveryOptionContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.deliveryOptionContainer label {
    margin-bottom: 5px;
    font-weight: normal;
}

.freeShippingWarning {
    background-color: #f8d7da; 
    color: #721c24; 
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;
}

.total {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-top: 20px;
}

.finalizeButton {
    background-color: #79972B;
    color: #fff;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 15px;
}

.finalizeButton:hover {
    background-color: #687f24;
}
