.carousel {
  position: relative;
  width: 100%;
  height: 80vh; 
  margin: 0 auto; 
  overflow: hidden;
  margin-bottom: 60px;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: #79972B;
  border: none;
  padding: 10px;
  font-size: 50px;
  cursor: pointer;
  z-index: 2; 
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

@media (max-width: 768px) {
  .carousel {
    height: 50vh; 
  }

  .prevButton,
  .nextButton {
    font-size: 20px; 
  }
}




