.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; 
    margin-bottom: 30px; 
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.newProductButton {
    background-color: #79972B;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.productListContainer {
    width: 80%; 
    margin: 0 auto; 
    margin-bottom: 20px;
    position: relative; 
}

.productTable {
    width: 100%;
    border-collapse: collapse;
    color: black;
    font-size: 16px; 
}

.productTable th,
.productTable td {
    padding: 8px 6px; 
    text-align: center;
}

.productTable th {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    padding-bottom: 15px;  
    border-bottom: 2px solid #ddd;  
}

.productTable tr:nth-child(even) {
    background-color: #ffffff;
}

.productTable tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.leftAlign {
    text-align: left !important;
}

.productName {
    font-size: 16px; 
}

.actionCell {
    width: 80px; 
    text-align: center;
}

.actionHeader {
    width: 80px;
    text-align: center;
}

.iconButton {
    background: transparent; 
    border: none; 
    padding: 0; 
    cursor: pointer;
    position: relative;
}

.iconButton:hover .icon {
    font-size: 26px; 
}

.iconButton:hover .tooltip {
    display: block;
}

.icon {
    color: black; 
    font-size: 20px; 
    transition: font-size 0.3s; 
}

.destaqueIcon {
    color: black; 
    font-size: 24px;
}

.destaqueIconActive {
    color: green; 
    font-size: 24px;
}

.destaqueIcon:hover,
.destaqueIconActive:hover {
    font-size: 28px; 
}

.tooltip {
    display: none;
    position: absolute;
    top: -25px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1;
}

.paginationContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.filterButtonRosa {
    background-color: #DE2C62;
    color: #fff;
    padding: 8px 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 10px; 
}
