.checkoutContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: black;
}

.checkoutContent {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.paymentFormsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1; 
}

.paymentForm {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f0f0f0; 
    width: 100%;
}

.paymentForm h3 {
    margin-bottom: 20px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.formGroup label {
    margin-bottom: 5px;
    font-weight: bold;
}

.formGroup input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.input {
    background-color: white;
    color: black;
    width: 100%;
}

.formGroupRow {
    display: flex;
    gap: 20px;
}

.submitButton {
    background-color: #79972B;
    color: #fff;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}

.submitButton:hover {
    background-color: #687f24;
}

.sideContainer {
    width: 300px; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addressBox {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f0f0f0; 
    width: 100%; 
}

.addressBox h3 {
    margin-bottom: 15px;
}

.addressDetails p {
    margin: 5px 0;
}

.pixInfo {
    margin-top: 15px;
    font-size: 14px;
}

.pixInstructions {
    margin-top: 10px;
    padding-left: 20px;
}

.pixInstructions li {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .checkoutContent {
        flex-direction: column;
    }

    .sideContainer {
        width: 100%;
        margin-top: 20px;
    }

    .paymentForm, .addressBox {
        width: 100%;
    }

    .formGroupRow {
        flex-direction: column;
    }

    .formGroupRow .formGroup {
        width: 100%;
    }

    .submitButton {
        width: 100%;
    }
}
