.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0; 
    padding: 20px;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: rgb(107, 106, 106);
    margin-bottom: 80px;
}

.videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 854px;
    margin-bottom: 40px; 
}

.videoContainer video {
    width: 100%;
    height: auto;
}

.mapSection, .hoursSection {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 40px 20px;
    width: 100vw; 
    box-sizing: border-box; 
    margin-top: 20px; 
    background-color: #DE2C62; 
    color: white; 
}

.contactSection {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 40px 20px;
    width: 100vw; 
    box-sizing: border-box; 
    margin-top: 20px; 
    color: rgb(0, 0, 0); 
}

.mapSection .mapInfo, .contactSection .contactInfo, .hoursSection .hoursContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%; 
}

.mapSection .mapContainer, .contactSection .deliveryInfo, .hoursSection .hoursContent {
    width: 60%; 
}

.mapIcon, .contactIcon {
    font-size: 40px;
    margin-bottom: 10px;
}

.mapTitle, .contactTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.mapAddress, .contactDetail {
    font-size: 16px;
}

.contactDetailIcon {
    margin-right: 10px;
    color: black;
}

.deliveryImage, .hoursImage {
    max-width: 100%;
    height: auto;
}


.mapContainer iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9; 
    border: 0;
}

/* Media Queries */
@media (max-width: 768px) {
    .mapSection, .contactSection, .hoursSection {
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
    }

    .mapSection .mapInfo, .contactSection .contactInfo, .hoursSection .hoursContent {
        width: 100%;
        margin-bottom: 20px;
    }

    .mapSection .mapContainer, .contactSection .deliveryInfo, .hoursSection .hoursContent {
        width: 100%;
    }

    .videoContainer {
        max-width: 100%;
    }

    .title {
        font-size: 22px;
        margin-bottom: 40px;
    }

    .mapTitle, .contactTitle {
        font-size: 20px;
    }

    .mapAddress, .contactDetail {
        font-size: 14px;
    }

    .mapIcon, .contactIcon {
        font-size: 30px;
    }

    .videoContainer video {
        width: 100%;
        height: auto;
    }

    .iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9; 
    }
}
