.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.noResults {
    font-size: 18px;
    font-weight: bold;
    color: grey;
    margin-top: 20px;
    text-align: center;
}
